@import "../../utils/constant.styles.scss";

nav.navigation-bar {
    align-items: center;
    background-color: $colorMain;
    color: $colorWhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2em;


    .data-user {
        cursor: pointer;
    }
}